<%include("./partials/header") %>
<h3>There are <%= clucks.length %> Clucks</h3>
<div>
<% for (cluck of clucks) { %>
    <div class="media" style="border: 1px solid gray; display: flex; justify-content:center; margin: 10px;">
        <img class="d-flex mr-3" style="border-radius:50%; width: 75px; height: 70px; margin: 20px;" src="/images/egg1.png" >
        <div class="media-body">
            <h5 class="mt-0"><%= cluck.username %></h5>
            <h6 class="mt-0">Created on <%= cluck.createdAt %></h6>
            <p><%= cluck.content %></p>
            <%if(cluck.imageUrl){%>
            <img src="<%=cluck.imageUrl%>" style="width: 300px; height: 200px;" alt="postingImage">
            <%}else{%>
                <img src="/images/no-egg.png" style="width: 300px; height: 200px;" alt="postingImage">
            <%}%>
        </div>
    </div>
</div>
<%}%>

<a href="/clucks/new">
    <button>Create a new Cluck</button>
</a>
<%- include("./partials/footer") %>