<%- include('./partials/header') %>

<div class="big-container">
  <div id="”content-desktop”" class="content-desktop">
    <div class="container m-1">
      <% if (clucks.length !== 0) { %>
      <div class="card" style="width: 18rem;">
        <h4 class="card-title m-3">
          There are <%= clucks.length %> clucks
        </h4>
      </div>
    </div>
  </div>
  <% } %>

  <div class="clucks-container m-1">
    <!-- If no clucks have been posted -->
    <% if (clucks.length === 0) { %>
    <h3>Post your first Cluck today!</h3>

    <% } else { %>
    <% for (let k = clucks.length - 1; k >= 0; k--) { %>

    <div class="card mb-3">
      <div class="card-body">
        <h6 class="card-title w-50 m-1">
          <%= clucks[k].username %> • <%= utils.timeSince(clucks[k].createdAt)
          %>
        </h6>

        <p class="card-text"><%= clucks[k].content %></p>
        <% if (clucks[k].imageUrl !== '') { %>
        <img src="<%= clucks[k].imageUrl %>" alt="imageUrl" class="w-75" />
        <% } %>
      </div>
    </div>
    <% }%> <% }%>
  </div>
</div>

<%- include('./partials/footer') %>
